<!-- event_details.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
</head>
<body>
    <h1>Event Details</h1>
    <ul>
        <li><strong>Name:</strong> {{ event.name }}</li>
        <li><strong>Date:</strong> {{ event.date }}</li>
        <li><strong>Place:</strong> {{ event.place }}</li>
        {{paypal.render}}
    </ul>
    <h2>Participants</h2>
    <ul>
        {% for participant in participants %}
        <li>{{ participant.username }} ({{ participant.email }})</li>
        {% endfor %}
    </ul>
    <a href="{% url 'event_signup' event.id %}">Sign up for the Event</a>
    <br><br>
    <a href="{% url 'par_home' %}">Back to Home</a>
</body>
</html>